* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

header {
    text-align: center;
}

h1 {
    color: darkgreen;
    font-size: 100px;
}

footer {
    text-align: center;
}

.presentacion {
    text-align: center;
}

main {
    text-align: center;
}

.contenedor-imagenes {
    display: flex;
}

header div {
    background-color: #FDFFFF;
}
body{
    padding-top: 155px;
}
