* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header div {
    background-color: #FDFFFF;
}

header nav {
    margin: 10px;
    border: 10px solid darkgreen;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 10px solid darkgreen;
    margin: 10px;
    color: darkgreen;
}

main h1 {
    font-size: clamp(2rem, 5vw, 6rem);
    color: white;
    text-shadow: 0 0 25px darkgreen;
}

main video {
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    color: darkgreen;
    text-align: center;
}

footer section {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 3rem;

}

.imagenes-hotel {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.imagenes-hotel figure {
    flex: 0 0 calc(50% - 15px);
    margin: 0;
}

.imagenes-hotel img {
    width: 100%;
    height: auto;
    display: block;
}

.imagenes-hotel figcaption {
    text-align: center;
    font-size: 0.9em;
}

.maps {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {

    main section video {
        max-width: 90%;
        margin: auto;
    }

    .imagenes-hotel {
        flex-direction: column;
    }

    .maps iframe {
        max-width: 100%;
        max-height: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    main section video {
        max-width: 90%;
        margin: auto;
    }

    .imagenes-hotel {
        flex-direction: column;
    }

    .maps iframe {
        max-width: 100%;
        max-height: 100%;
    }
}